body {
  margin: 0px;
  padding: 0px;
}

#patchwork-images {
  position: relative;
}

.image-element {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}